<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="../css/fakemobile.css">
        <link rel="stylesheet" href="../css/ikea-styles.css">
        <link href="https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">
            <!-- CSS Library-->
    <link rel="stylesheet" href="../../plugins/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../plugins/owl-carousel/assets/owl.carousel.css">
    <link rel="stylesheet" href="../../plugins/jquery-bar-rating/dist/themes/fontawesome-stars.css">
    <link rel="stylesheet" href="../../plugins/slick/slick/slick.css">
    <link rel="stylesheet" href="../../plugins/bootstrap-select/dist/css/bootstrap-select.min.css">
    <link rel="stylesheet" href="../../plugins/Magnific-Popup/dist/magnific-popup.css">
    <link rel="stylesheet" href="../../plugins/jquery-ui/jquery-ui.min.css">
    <link rel="stylesheet" href="../../plugins/revolution/css/settings.css">
    <link rel="stylesheet" href="../../plugins/revolution/css/layers.css">
    <link rel="stylesheet" href="../../plugins/revolution/css/navigation.css">
    <!-- Custom-->
    <link rel="stylesheet" href="../../css/style.css">
    </head>
    <body class="mobile-emulator">
        <div class="wrapper">
            <!--[if lt IE 7]>
                <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="#">upgrade your browser</a> to improve your experience.</p>
            <![endif]-->
            <section class="mobile-screen">
              <div class="navigation pad-25">
                <div class="row">
                  <div class="col-md-4">
                    <div class="header__logo"><a class="ps-logo" href="index.html"><img src="../../images/BOKS/logo.png" alt=""></a></div>
                  </div>
                  <div class="col-md-4"></div>
                  <div class="col-md-4"></div>
                </div>
              </div>
                <!--img src="../images/ikea/ikea-header.png" alt="" class="fullui-image"-->

                <main class="content-block">
                    <h2 class="fade-in fade-in-header">Hi there! We think you will enjoy your new <br><strong>Modern Art Trestle Desk</strong>.</h2><br>
                    <p class="fade-in fade-in-block">See instructions, videos and inspiration from the community, and support links for your new desk. Enjoy!</p>
                    <div class="fade-in fade-in-block-second">
                        <img src="../images/shoe-detail/2.png" alt="Modern Desk info" class="fullui-image"><br><br>
                        <!-- <video width="335" height="200" controls autoplay>
                            <source src="../images/ikea/fe000141.webm" type="video/webm">
                            <!-- <source src="movie.ogg" type="video/ogg"> -->
                            <!--Your browser does not support the video tag.
                        </video> -->
                        <h4>MyBoks Exclusive Workshop:</h4>
                        <h5>Creating a <strong>Modern</strong> home office</h5>
                        <img src="../images/home-office.jpeg"><br><br>
                        <h4>My Boks Kids:</h4>
                        <div class="iframe-container">
                          <iframe width="560" height="315" src="https://www.youtube.com/embed/wzBEPULWZQA" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                        </div>
                    </div>
                    <br><br>
                </main>
            </section>
        </div>

        <script src="" async defer></script>
    </body>
</html>
